[init]
  defaultBranch = master
[color]
  diff = auto
  status = auto
  branch = auto
  grep = auto
[core]
  excludesfile = ~/.gitignore
  pager = less -x2
  editor = nvim
  quotepath = false
[commit]
  verbose = true
[diff]
  algorithm = histogram
[push]
  default = current
[alias]
  br = branch -a -v
  co = checkout
  ci = commit
  d = diff
  di = diff
  dc = diff --cached
  dic = diff --cached
  l = log --graph -n 20 --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
  la = log --graph -n 20 --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset' --branches
  ll = log --stat --abbrev-commit
  ln = log --graph -n 20 --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset' --name-status
  lp = log --stat -n 20 -p
  ls = log --stat --abbrev-commit -n 1 # display previous log
  puhs = push
  psuh = push
  pus = push
  puh = push
  pushf = push --force-with-lease
  pl = !git pull && git submodule update --init
  s = status --short --branch
  st = status -sb
  tree = log --graph --pretty=oneline --decorate --date=short --abbrev-commit --branches
  amc = am --show-current-patch
[user]
  email = sheile1024@gmail.com
  name = Sheile
[url "https://"]
  insteadOf = git://
[pager]
  log = diff-highlight | LESS='-R -i --quit-if-one-screen --no-init' less
  show = diff-highlight | LESS='-R -i' less
  diff = diff-highlight | LESS='-R -i' less
[merge]
  ff = false
[pull]
  rebase = true
[fetch]
  prune = true
[rebase]
  autosquash = true
  autostash = true
[rerere]
  enabled = true
[help]
  autocorrect = 10
